gui:
  nerdFontsVersion: "3"
git:
  autoFetch: false
  autoRefresh: false
  overrideGpg: true
os:
  edit: "micro {{`{{filename}}`}}"
  editPreset: "micro"
# one of: 'prompt' (default) | 'create' | 'skip' | 'quit'
notARepository: 'skip'
