[alias]
    checksig = "!git log --pretty=\"tformat:%Cgreen%h %Cblue%G?%Creset %GK - %aN %C(always,yellow)%s\""
    count = shortlog -sn
    diff-side-by-side = -c delta.features=side-by-side diff
    dump = cat-file -p
    find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
    fulllog = log --all --decorate --graph --oneline --date=short
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    up = "!git remote update -p; git merge --ff-only @{u}"
[branch]
    sort = -committerdate
[color]
    ui = auto
    status = auto
    interactive = always
[color "branch"]
    current = yellow reverse
    local = green
    remote = red
[color "diff"]
    meta = yellow dim
    frag = magenta
    old = red
    new = green
[color "status"]
    added = green
    changed = yellow
    untracked = blue
[column]
    ui = auto
[commit]
    gpgsign = true
    autoWrapCommitMessage = true
    autoWrapWidth = 72
[core]
    autocrlf = input
    safecrlf = true
    eol = native
    quotepath = false
    fileMode = false
    pager = delta
[delta]
    detect-dark-light = always
    line-numbers = true
    navigate = true
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[diff "jpg"]
    textconv = exif
    cachetextconv = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
    # dynamic lookup of first ssh-key from ssh-agent, must be prefixed with 'key::'
    # https://github.com/maxgoedjen/secretive/issues/262#issuecomment-997772711
    defaultKeyCommand = sh -c 'echo key::$(ssh-add -L)'
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[merge]
    conflictstyle = zdiff3
[pull]
    rebase = merges
[push]
    default = current
    autoSetupRemote = true
    followTags = true
    rebase = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[rerere]
    enabled = true
    autoupdate = true
[tag]
    gpgsign = true
    sort = version:refname
{{- if hasKey . "git" }}
[user]
    useConfigOnly = true
{{- if hasKey .git "github" }}
    # default to github user data
    name = {{ .git.github.user }}
    email = {{ .git.github.email }}
{{- /*
    [github]
    user = {{ .git.github.user }}
    token = {{ keyring "gh:github.com" .git.github.user }}
*/ -}}
{{- end }}
# load custom configurations based on git remotes
{{- range $k, $v := .git }}
{{- if ne $k "github" }}
[includeIf "hasconfig:remote.*.url:git@{{ $v.host }}*/**"]
    path = config.{{ $k }}
{{ end }}
{{- end }}
{{- end }}
# include any local modification last
[include]
    # Include for username / creds / etc
    path = config.local

# vim:ft=gitconfig:ts=4:sw=4:et:
